.container{
    position: absolute;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    top:100%;
    gap: 20px;
    width: 100%;
}


.flex-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding:15px;
    height:200px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: pink;
    
}

.card-title{
    background-color: green;
    font-size:20px;
    width: 100%;
    height: auto;
    text-align: center;
}

.card-body{
    flex-grow: 1;
    background-color: yellow;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    width: 200px;
    align-self: flex-end;
}